# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = SG Kang
	email = lived2@gmail.com

[alias]
  s = status -s
  co = checkout
  ci = commit
  br = branch
